@import "tailwindcss";

* {
    
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
}




@media (max-width:700px){
    #navi-ul{
        display: none;

    }
    #icon-nav{
    display: none;
}
}


#root {
    background-color: hsl(220, 26%, 7%);
    color: hsl(210, 40%, 98%);
    background: url('photo3.png') no-repeat center/cover;
}

#nav-container {
    
    display: flex;
    justify-content: space-around;
}

#logo-name {
    font-style: bold;
    font-size: 25px;
    padding: 15px;
    margin: 15px;
    background: linear-gradient(to right, hsl(180, 84%, 55%), hsl(180, 84%, 55%), hsl(40, 96%, 65%));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#navi-ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 30px;
    font-size: 16px;
    margin: 15px;
    padding: 15px;

}


/* icon transtion */
/* #icon-nav{
    display: none;
}


@media (max-width:1000px){
    #navi-ul{
        display: none;

    }
    #icon-nav{
    display: block;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 30px;
    font-size: 16px;
    margin: 15px;
    margin-top: 25px;
    padding: 15px;
}
} */

/* icon transtion */



#navi-ul li,a{
    text-decoration: none;
    color: white;
}

#greeting {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
#greeting p{
    padding: 2px;
}
#greeting h3{
    background: linear-gradient(to right, hsl(0, 0%, 100%), hsl(180, 84%, 55%), hsl(40, 96%, 60%));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 70px;
    padding: 35px;
}
#greeting span{
    color: white;
    

}
#greeting-p1{
    font-size: 20px;
}
#greeting-p2{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.61);
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
}

#greeting button{
    font-size: 18px;
    margin: 10px;
    padding: 12px;
    border: solid 2px rgba(211, 211, 211, 0.2);
    border-radius: 10px;
    margin-top: 45px;
    
}

/* arrow */
.arrow-down {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 15px solid aqua;
  animation: moveDown 1s infinite alternate;
  position: relative;
  bottom: 90px;
  left: 75px;
}

@keyframes moveDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}

/* arrow */

#button-1{
    transition: all 300ms;
    background-color: rgb(0, 0, 0,0.5);
    opacity: 70%;
    
}

#button-1 a{
    text-decoration: none;
    color: white;
}

#button-1:hover{
    transition: all 300ms;
    border: 1px  solid hsl(180, 84%, 55%);
    cursor: pointer;
    
}

#button-2{
    background: hsl(180, 84%, 55%);
    
}

#button-2 a{
    text-decoration: none;
    color: white;
}
#button-2:hover{
    transition: all 500ms;
    border: 2px  solid hsl(180, 84%, 55%);
    cursor: pointer;
    position: relative;
    bottom: 2px;
    box-shadow: 0 0 10px 5px rgba(0, 255, 255, 0.3);

    
}
#About-me{
    height: 80vh;
    background: hsl(80, 6%, 10%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#About-me h2{
    position: absolute;
    top: 970px;
    color: white;
    font-size: 50px;
}
#About-me span{
    color: white;
    background: linear-gradient(to right, hsl(180, 84%, 55%), hsl(180, 84%, 55%), hsl(40, 96%, 65%));
    color: transparent;
    background-clip: text;
}


#About-me-p{
    height: 450px;
    width: 900px;
    color: rgba(211, 211, 211, 0.61);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    font-size: 25px;

}
#cart-container{
    margin-top: 80px;
    width: 900px;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
    
}

#About-cart-me1{
    width: 280px;
    height: 250px;
    background:hsl(90, 15%, 9%);
    border: solid thin rgba(211, 211, 211, 0.2) ;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    color: white;
    
}

#About-cart-me1:hover{
    border: solid 1px aqua;
    box-shadow: 0 0 15px rgb(0, 255, 255,0.5);
    transition: all 300ms;

}

#About-cart-me1 p{
    font-size: 17px;
    color: rgba(211, 211, 211, 0.61);;
    position: relative;
    top: 75px;
    left: 15px;
}

#About-cart-me1 svg{
    color: aqua;
    position: relative;
    top: 20px;
    left: 20px;
    
}

#About-cart-me1 h3{
    position: relative;
    top: 30px;
    left: 20px;
    
}





#About-cart-me2{
    width: 280px;
    height: 250px;
    background:hsl(90, 15%, 9%);
    border: solid thin rgba(211, 211, 211, 0.2) ;
    border-radius: 5%;
    color: white;
}


#About-cart-me2:hover{
    border: solid 1px aqua;
    box-shadow: 0 0 15px rgb(0, 255, 255,0.5);
    transition: all 300ms;
    
}


#About-cart-me2 svg{
    color: aqua;
    position: relative;
    top: 20px;
    left: 20px;
    
}

#About-cart-me2 p{
    font-size: 17px;
    color: rgba(211, 211, 211, 0.61);
    position: relative;
    top: 75px;
    left: 15px;
}

#About-cart-me2 h3{
    position: relative;
    top: 30px;
    left: 20px;
    
}




#About-cart-me3{
    width: 280px;
    height: 250px;
    background:hsl(90, 15%, 9%);
    border: solid thin rgba(211, 211, 211, 0.2) ;
    border-radius: 5%;
    color: white;
}


#About-cart-me3:hover{
    border: solid 1px aqua;
    box-shadow: 0 0 15px rgb(0, 255, 255,0.5);
    transition: all 300ms;
    
}

#About-cart-me3 svg{
    color: aqua;
    position: relative;
    top: 20px;
    left: 20px;
    
}


#About-cart-me3 p{
    font-size: 17px;
    color: rgba(211, 211, 211, 0.61);;
    position: relative;
    top: 75px;
    left: 15px;
}

#About-cart-me3 h3{
    position: relative;
    top: 30px;
    left: 20px;
    
}

#Skills{
    height: 80vh;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    color: white;
}

#Skills h2{
    font-size: 50px;
    position: relative;
    top: 100px;
}

#Skills span{
    background: linear-gradient(to right, hsl(180, 84%, 55%), hsl(180, 84%, 55%), hsl(40, 96%, 65%));
    background-clip: text;
    color: transparent;
}



#Skills-tech{
    width: 1400px;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 300px;
    position: relative;
    top: 150px;
    right: 90px;
}
#Skills-tech h4{
    color: aqua;
    font-size: 25px;
}

#Frontend ul{
    margin-top: 50px;
    list-style: none;
    width: 200px;
    
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#Frontend-ul li{
    width: 350px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
    padding-left: 10px;
    border: solid 1px rgba(211, 211, 211, 0.2);
    border-radius: 10px;
    background: hsl(90, 15%, 9%);
}

#Frontend-ul li:hover{
    transition: all 300ms;
    border: solid 1px aqua;

}


#Backend ul{
    margin-top: 50px;
    list-style: none;
    width: 200px;
    
    display: flex;
    flex-direction: column;
    gap: 15px;
}


#Backend-ul li{
    width: 350px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
    padding-left: 10px;
    border: solid 1px rgba(211, 211, 211, 0.2);
    border-radius: 10px;
    background: hsl(90, 15%, 9%);
}


#Backend-ul li:hover{
    transition: all 300ms;
    border: solid 1px aqua;

}

#Tools-others ul{
    margin-top: 50px;
    list-style: none;
    width: 200px;
    
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#Tools-ul li{
    width: 350px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
    padding-left: 10px;
    border: solid 1px rgba(211, 211, 211, 0.2);
    border-radius: 10px;
    background: hsl(90, 15%, 9%);
}

#Tools-ul li:hover{
    transition: all 300ms;
    border: solid 1px aqua;

}


#Projects{
    height: 70vh;
    background: hsl(80, 6%, 10%);
    display:flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#Projects h2{
    font-size: 50px;
    position: relative;
    top: 100px;
}

#Projects span{
    background: linear-gradient(to right, hsl(180, 84%, 55%), hsl(180, 84%, 55%), hsl(40, 96%, 65%));
    background-clip: text;
    color: transparent;
}

#Projects-Parent{
    height: 40vh;
    width: 140vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 150px;
}

#Projects-Parent div{
    background: hsl(90, 15%, 9%);
    border: solid thin rgba(211, 211, 211, 0.2) ;
    border-radius: 5%;
    width: 400px;
    height: 300px;
    color: white;
}


/* pro1 */
#Projects-1{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding-left: 20px;
}

#Projects-1:hover{
    box-shadow: 0 0 40px 2px rgb(0, 255, 255,0.3);
    transition: all 300ms;
    border: solid 1px aqua;
}


#Projects-1 h4{
    font-size: 25px;
    position: relative;
    top: 40px;
    left: 10px;
}

#Projects-1 p{
    width: 370px;
    font-size: 17px;
    color: rgba(211, 211, 211, 0.61);;
    position: relative;
    top: 60px;
    left: 10px;
}


#Projects-1 ul{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 15px;
    position: relative;
    top: 90px;
    list-style: none;
}


#Projects-ul li{
    padding: 3px;
    width: 68px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: aqua;
    border-radius: 10px;
    text-shadow:  0 0 2px aqua;
    background: rgba(41, 41, 41, 0.61);
    

}

#Projects-1 a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    top: 110px;
    left: 10px;
    color: aqua;
}


/* pro2 */

#Projects-2{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding-left: 20px;
}

#Projects-2:hover{
    box-shadow: 0 0 40px 2px rgb(0, 255, 255,0.3);
    transition: all 300ms;
    border: solid 1px aqua;
}


#Projects-2 h4{
    font-size: 25px;
    position: relative;
    top: 40px;
    left: 10px;
}

#Projects-2 p{
    width: 370px;
    font-size: 17px;
    color: rgba(211, 211, 211, 0.61);;
    position: relative;
    top: 60px;
    left: 10px;
}


#Projects-2 ul{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 15px;
    position: relative;
    top: 90px;
    list-style: none;
}


#Projects-ul2 li{
    padding: 3px;
    width: 68px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: aqua;
    border-radius: 10px;
    text-shadow:  0 0 2px aqua;
    background: rgba(41, 41, 41, 0.61);
    

}

#Projects-2 a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    top: 110px;
    left: 10px;
    color: aqua;
}

/* pro3 */

#Projects-3{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding-left: 20px;
}
#Projects-3:hover{
    box-shadow: 0 0 40px 2px rgb(0, 255, 255,0.3);
    transition: all 300ms;
    border: solid 1px aqua;
}


#Projects-3 h4{
    font-size: 25px;
    position: relative;
    top: 40px;
    left: 10px;
}

#Projects-3 p{
    width: 370px;
    font-size: 17px;
    color: rgba(211, 211, 211, 0.61);;
    position: relative;
    top: 60px;
    left: 10px;
}


#Projects-3 ul{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 15px;
    position: relative;
    top: 90px;
    list-style: none;
}


#Projects-ul3 li{
    padding: 3px;
    width: 68px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: aqua;
    border-radius: 10px;
    text-shadow:  0 0 2px aqua;
    background: rgba(41, 41, 41, 0.61);
    

}

#Projects-3 a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    top: 110px;
    left: 10px;
    color: aqua;
}

#Touch{
    height: 110vh;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    color: white;
}

#Touch h2{
    font-size: 50px;
    position: relative;
    top: 100px;
}

#Touch span{
    background: linear-gradient(to right, hsl(180, 84%, 55%), hsl(180, 84%, 55%), hsl(40, 96%, 65%));
    background-clip: text;
    color: transparent;
}

#Forma {
    width: 65vh;
    height: 65vh;
    position: relative;
    top: 150px;
    padding: 40px;
    background: hsl(90, 15%, 9%);
    border: solid 1px rgba(211, 211, 211, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
}

#Forma input{
    font-family: sans-serif;
    height: 40px;
    width: 580px;
    background: rgba(41, 41, 41, 0.61);
    border: solid 1px rgba(211, 211, 211, 0.2);
    border-radius: 6px;
    color: white;
    font-size: 20px;
    padding: 3px;
    padding-left: 10px;
    position: relative;
    right: 10px;
    outline: none;
}

#Forma input:focus{
    transition: all 300ms;
    border: solid 1px aqua;
    box-shadow: 0 0 4px aqua;
}

#Forma textarea:focus{
    transition: all 300ms;
    border: solid 1px aqua;
    box-shadow: 0 0 4px aqua;

}


#Forma label{
    font-size: 20px;
    position: relative;
    right: 10px;
}



#Forma textarea{
    font-family: sans-serif;
    height: 150px;
    width: 580px;
    background: rgba(41, 41, 41, 0.61);
    border: solid 1px rgba(211, 211, 211, 0.2);
    border-radius: 6px;
    color: white;
    font-size: 20px;
    padding: 3px;
    padding-left: 10px;
    position: relative;
    right: 10px;
    outline: none;
}

#Forma button{
    transition: all 300ms;
    height: 60px;
    width: 580px;
    padding: 3px;
    border-radius: 10px;
    position: relative;
    right: 10px;
    background: linear-gradient(to right, hsl(180, 83%, 49%), hsl(180, 84%, 55%), hsl(199, 81%, 55%));
    font-family: sans-serif;
    font-size: 20px;

}

#Forma button:hover{
    
    position: relative;
    bottom: 2px;
    box-shadow: 0 0 12px 5px rgb(0, 255, 255,0.3);
    
}

#Touch-links {
  display: flex;
  flex-direction: row;
  
}


#Touch-links a{
    color: white;
    position: relative;
    top: 200px; 
    margin: 15px;
}

#Touch-links a:hover{
    color: aqua;
}